* {
  padding: 0;
  margin: 0;
}

header {
  grid-area: cabecalho;
  background-color: #333;
  height: 30px;
  border-bottom: 4px solid #000000;
  color: #fff;
  text-align: center;
  padding: 10px;
}


body {
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 200px;
  height: 100%;
  background-color: #333;
  color: #fff;
  position: fixed;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
}

.content {
  margin-left: 200px; /* Largura da sidebar */
  padding: 20px;
}

#foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 50px;
}

.titulo1 {
  text-align: center;
  margin-top: 10px;
}

.fab fa-linkedin{
  width: 100px;
}