* {
  padding: 0;
  margin: 0;
}

header {
  grid-area: cabecalho;
  background-color: #00004d;
  height: 50px;
  color: wheat;
  text-align: center;
  padding: 20px;
}

nav {
  grid-area: navegacao;
  background-color:#00004d;
  color: wheat;
  width: 70%;
}

nav .texto li {
  color: wheat;
}

main {
  grid-area: conteudo;
}

.texto1 {
  padding: 10px;
}
footer {
  grid-area: rodape;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: 
  'cabecalho cabecalho'
  'navegacao conteudo'
  'rodape rodape'
  
  ;
}
